%link{:href => "https://fonts.googleapis.com/css?family=Righteous", :rel => "stylesheet"}/

%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "#"} Domespace
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    %ul.navbar-nav.pull-right
      %li.nav-item.active
        %a.nav-link{href: "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{href: "#"} Facilities
      %li.nav-item
        = link_to 'Become a Host', new_facility_path
      %li.nav-item
        %a.nav-link.disabled{href: "#"} Sign up


%p#notice= notice
%h1.facil.fh 100+ facilities

%br


 
- @facilities.each do |facility|
  %div.dome
    %div.poster
    
    %p.facil_name= facility.title
    //%p= facility.location  
    .stats
      %p.facil_margin Capacity: 
      %p.facil= facility.capacity 
      %p.facil_margin Price per night $
      %p.facil= facility.price
    .facility_type  
      %p.facil_margin Facility Type:  
      %p.facil_margin= facility.environment
    %p= facility.reviews
    %p= facility.comments
    //%p= facility.description
    //%p= link_to 'Show', facility
    //%p= link_to 'Edit', edit_facility_path(facility)
    //%p= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' }
%br/

