<h1>Elastic search for Facilities</h1>

<%= form_for :search_facilities, url: search_facilities_path, method: :get do |form| %>
  <%= form.text_field :query, value: params[:search_facilities].presence && params[:search_facilities][:query] %>
  <%= form.submit 'Search' %>
<% end %>

<% unless @facilities.nil? %>
  <% if @facilities.empty? %>
    <h2>No facilities found matching your query.</h2>
  <% else %>
    <h2>Search results</h2>

    <table style="width: 100%;">
      <thead>
         <tr>
           <th>Title</th>
           <th>Location</th>
           <th>Capacity</th>
           <th>Price</th>
         </tr>
      </thead>

      <tbody>
        <% @facilities.each do |facility| %>
          <tr>
            <td><%= facility.title %></td>
            <td><%= facility.location %></td>
            <td><%= facility.capacity %></td>
            <td><%= facility.price %></td>
            <td><%= link_to 'View', facility_path(facility.id) %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% end %>
<% end %>